src/main/java/XMLSchema_Insurance.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element type="xs:byte" name="id"/>
    <xs:element type=" xs:string" name="first_name"/>
    <xs:element type=" xs: string" name="last_name"/>
    <xs:element type=" xs: string" name="phone"/>
    <xs:element type=" xs: string" name="car"/>
    <xs:element type=" xs: short" name="model"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: Date" name="contract_date"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: byte" name="id"/>
    <xs:element type=" xs: string" name="first_name"/>
    <xs:element type=" xs: string" name="last_name"/>
    <xs:element type=" xs: string" name="phone"/>
    <xs:element type=" xs: string" name="car"/>
    <xs:element type=" xs: short" name="model"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: Date" name="contract_date"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: byte" name="id"/>
    <xs:element type=" xs: string" name="first_name"/>
    <xs:element type=" xs: string" name="last_name"/>
    <xs:element type=" xs: string" name="phone"/>
    <xs:element type=" xs: string" name="car"/>
    <xs:element type=" xs: short" name="model"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: Date" name="contract_date"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: byte" name="id"/>
    <xs:element type=" xs: string" name="first_name"/>
    <xs:element type=" xs: string" name="last_name"/>
    <xs:element type=" xs: string" name="phone"/>
    <xs:element type=" xs: string" name="car"/>
    <xs:element type=" xs: short" name="model"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: Date" name="contract_date"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: byte" name="id"/>
    <xs:element type=" xs: string" name="first_name"/>
    <xs:element type=" xs: string" name="last_name"/>
    <xs:element type=" xs: string" name="phone"/>
    <xs:element type=" xs: string" name="car"/>
    <xs:element type=" xs: short" name="model"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: Date" name="contract_date"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: byte" name="id"/>
    <xs:element type=" xs: string" name="first_name"/>
    <xs:element type=" xs: string" name="last_name"/>
    <xs:element type=" xs: string" name="phone"/>
    <xs:element type=" xs: string" name="car"/>
    <xs:element type=" xs: short" name="model"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: Date" name="contract_date"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: byte" name="id"/>
    <xs:element type=" xs: string" name="first_name"/>
    <xs:element type=" xs: string" name="last_name"/>
    <xs:element type=" xs: string" name="phone"/>
    <xs:element type=" xs: string" name="car"/>
    <xs:element type=" xs: short" name="model"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: Date" name="contract_date"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: byte" name="id"/>
    <xs:element type=" xs: string" name="first_name"/>
    <xs:element type=" xs: string" name="last_name"/>
    <xs:element type=" xs: string" name="phone"/>
    <xs:element type=" xs: string" name="car"/>
    <xs:element type=" xs: short" name="model"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: Date" name="contract_date"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: short" name="id"/>
    <xs:element type=" xs: string" name="first_name"/>
    <xs:element type=" xs: string" name="last_name"/>
    <xs:element type=" xs: string" name="phone"/>
    <xs:element type=" xs: string" name="car"/>
    <xs:element type=" xs: short" name="model"/>
    <xs:element type=" xs: float" name="insurance"/>
    <xs:element type=" xs: Date" name="contract_date"/>
    <xs:element name="insurance_record">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id">
                <xs:element ref="first_name">
                <xs:element ref="last_name">
                <xs:element ref="phone">
                <xs:element ref="car">
                <xs:element ref="model">
                <xs:element ref="insurance">
                <xs:element ref="contract_date">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="insurance_record">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id">
                <xs:element ref="first_name">
                <xs:element ref="last_name">
                <xs:element ref="phone">
                <xs:element ref="car">
                <xs:element ref="model">
                <xs:element ref="insurance">
                <xs:element ref="contract_date">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="insurance_record">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id">
                <xs:element ref="first_name">
                <xs:element ref="last_name">
                <xs:element ref="phone">
                <xs:element ref="car">
                <xs:element ref="model">
                <xs:element ref="insurance">
                <xs:element ref="contract_date">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="insurance_record">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id">
                <xs:element ref="first_name">
                <xs:element ref="last_name">
                <xs:element ref="phone">
                <xs:element ref="car">
                <xs:element ref="model">
                <xs:element ref="insurance">
                <xs:element ref="contract_date">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="insurance_record">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id">
                <xs:element ref="first_name">
                <xs:element ref="last_name">
                <xs:element ref="phone">
                <xs:element ref="car">
                <xs:element ref="model">
                <xs:element ref="insurance">
                <xs:element ref="contract_date">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="insurance_record">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id">
                <xs:element ref="first_name">
                <xs:element ref="last_name">
                <xs:element ref="phone">
                <xs:element ref="car">
                <xs:element ref="model">
                <xs:element ref="insurance">
                <xs:element ref="contract_date">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="insurance_record">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id">
                <xs:element ref="first_name">
                <xs:element ref="last_name">
                <xs:element ref="phone">
                <xs:element ref="car">
                <xs:element ref="model">
                <xs:element ref="insurance">
                <xs:element ref="contract_date">
                <xs:element ref="insurance">
                <xs:element ref="insurance">
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="insurance_record">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id">
                <xs:element ref="first_name">
                <xs:element ref="last_name">
                <xs:element ref="phone">
                <xs:element ref="car">
                <xs:element ref="model">
                <xs:element ref="insurance">
                <xs:element ref="contract_date">
                <xs:element ref="insurance">
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="insurance_record">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id">
                <xs:element ref="first_name">
                <xs:element ref="last_name">
                <xs:element ref="phone">
                <xs:element ref="car">
                <xs:element ref="model">
                <xs:element ref="insurance">
                <xs:element ref="contract_date">
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="dataset">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="insurance_record">
                <xs:element ref="insurance_record">
                <xs:element ref="insurance_record">
                <xs:element ref="insurance_record">
                <xs:element ref="insurance_record">
                <xs:element ref="insurance_record">
                <xs:element ref="insurance_record">
                <xs:element ref="insurance_record">
                <xs:element ref="insurance_record">
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>